#sobre-mi {
    width: 100%;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5vh 10vw;
    background: linear-gradient(to right, #fdfbfb, #ebedee);
}

.sobre-mi-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    gap: 3rem;
}

.sobre-mi-container .image {
    width: 40%;
}

.sobre-mi-container .image img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.sobre-mi-container .content {
    width: 50%;
    color: #333;
}

.sobre-mi-container .content h2 {
    font-size: 2.5rem;
    color: #d2727a;
    margin-bottom: 20px;
    text-shadow: 0 0 5px rgba(210, 114, 122, 0.5);
}

.sobre-mi-container .content p {
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 20px;
}

.sobre-mi-container .btn a button {
    background-color: #DD969C;
    color: white;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.2s linear;
}

.sobre-mi-container .btn a button:hover {
    scale: 1.1;
    color: #DD969C;
    border: 2px solid #DD969C;
    background-color: transparent;
    font-weight: 700;
    box-shadow: 0 0 40px #DD969C;
}

@media (max-width: 884px) {
    #sobre-mi {
        flex-direction: column;
        text-align: center;
        padding: 5vh 5vw;
    }
    .sobre-mi-container {
        flex-direction: column;
        gap: 2rem;
    }
    .sobre-mi-container .image {
        width: 70%;
    }
    .sobre-mi-container .content {
        width: 100%;
    }
}